<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% if 'Home' != page.title %}{{ page.title }} &mdash; {% else %}{{ site.title }} &mdash; {{ site.subtitle }}{% endif %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

{% for stylesheet in theme_paths("assets/css/style.css") %}
    <link href="{{ site.url }}/{{ stylesheet }}" rel="stylesheet" media="screen" />
{% endfor %}

{% block head_styles %}
{% endblock %}
{% block head_scripts %}
{% endblock %}
  </head>

  <body>

{% include "navigation" %}

{% block content_wrapper %}
    <div class="container">
{% block content %}{% endblock %}
    </div>
{% endblock %}

{% include "footer-content" %}
{% include "footer-js" %}
  </body>
</html>
